{
  "connection_config": {
    "num_partitions": 1,
    "base_parallelism": "1",
    "topic": "{{ KAFKATOPIC }}",
    "display_name": "kafka-2",
    "connection_type": "kafka"
  },
  "datasource_type": "alerts",
  "mapping_type": "none",
  "mapping": {
    "codec": "null"
  },
  "connection_updated_at": 1622097234822,
  "source_query_url": null,
  "connection_type": "kafka"
}
