{
    "application_group_id": "1000",
    "application_id": "1000",
    "timestamp": 1618411797,
    "utc_timestamp": "{{ timestamp }}",
    "type": "alert",
    "alert": {
      "source": {
        "source_alert_id": "PV0KGQ7",
        "source_name": "PagerDuty",
        "source_url": "https://ibm-sandbox.pagerduty.com/alerts/PV0KGQ7",
        "source_team": {
          "id": "",
          "name": "",
          "web_url": ""
        },
        "source_application": {
          "id": "P99HYBN",
          "name": "simulation",
          "web_url": "https://ibm-sandbox.pagerduty.com/service-directory/P99HYBN"
        }
      },
      "created_at_utc_timestamp": "2021-05-14T20:01:10Z",
      "resolved_at_utc_timestamp": "2021-04-15T22:42:38Z",
      "severity": 1,
      "title": "OutOfMemory Error",
      "text": "OutOfMemory Error",
      "features": [
        {
          "id": "pagerduty_incident",
          "value": {
            "id": "PLX33WQ",
            "name": "[#22314] OutOfMemory Error",
            "web_url": "https://ibm-sandbox.pagerduty.com/incidents/PLX33WQ"
          }
        },
        {
          "id": "root",
          "value": {
            "id": "PV0KGQ7",
            "type": "alert",
            "summary": "OutOfMemory",
            "self": "https://api.pagerduty.com/alerts/PV0KGQ7",
            "html_url": "https://ibm-sandbox.pagerduty.com/alerts/PV0KGQ7",
            "created_at": "2021-04-15T22:42:33Z",
            "status": "resolved",
            "resolved_at": "2021-04-15T22:43:38Z",
            "alert_key": "e6dd4c92b720474aa5d4d18d7efdf9d7",
            "suppressed": false,
            "service": {
              "id": "P99HYBN",
              "type": "service_reference",
              "summary": "simulation",
              "self": "https://api.pagerduty.com/services/P99HYBN",
              "html_url": "https://ibm-sandbox.pagerduty.com/service-directory/P99HYBN"
            },
            "severity": "info",
            "incident": {
              "id": "PLX33WQ",
              "type": "incident_reference",
              "summary": "[#22314] OutOfMemory",
              "self": "https://api.pagerduty.com/incidents/PLX33WQ",
              "html_url": "https://ibm-sandbox.pagerduty.com/incidents/PLX33WQ"
            },
            "first_trigger_log_entry": {
              "id": "R02WPEGHQYXLACJOM84IYSS12L",
              "type": "trigger_log_entry_reference",
              "summary": "Triggered through the API",
              "self": "https://api.pagerduty.com/log_entries/R02WPEGHQYXLACJOM84IYSS12L",
              "html_url": "https://ibm-sandbox.pagerduty.com/alerts/PV0KGQ7/log_entries/R02WPEGHQYXLACJOM84IYSS12L"
            },
            "body": {
              "contexts": [
                {
                  "href": "https://app.us-south.logging.cloud.ibm.com/6417f90979/logs/view/a32f6098e4/",
                  "text": "Apr 15 03:01:12 {{ shipping_pod }} shipping [ERROR] 1 --- [io-16346-exec-6] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is org.springframework.web.client.HttpServerErrorException: OutOfMemory",
                  "type": "link"
                }
              ],
              "details": null,
              "cef_details": {
                "client": "LogDNA",
                "client_url": "https://app.us-south.logging.cloud.ibm.com/",
                "contexts": [
                  {
                    "type": "link",
                    "text": "Apr 15 03:01:12 {{ shipping_pod }} shipping [ERROR] 1 --- [io-16346-exec-6] o.a.c.c.C.[.[.[/].[dispatcherServlet]    : Servlet.service() for servlet [dispatcherServlet] in context with path [] threw exception [Request processing failed; nested exception is org.springframework.web.client.HttpServerErrorException: OutOfMemory",
                    "href": "https://app.us-south.logging.cloud.ibm.com/6417f90979/logs/view/a32f6098e4/"
                  }
                ],
                "creation_time": "2021-04-15T03:42:33.847Z",
                "description": "OutOfMemory",
                "message": "OutOfMemory",
                "mutations": [],
                "severity": "info",
                "source_origin": "https://app.us-south.logging.cloud.ibm.com/",
                "version": "1.0"
              },
              "type": "alert_body"
            },
            "integration": {
              "id": "P7GHSB5",
              "type": "generic_events_api_inbound_integration_reference",
              "summary": "LogDNA",
              "self": "https://api.pagerduty.com/services/P99HYBN/integrations/P7GHSB5",
              "html_url": "https://ibm-sandbox.pagerduty.com/services/P99HYBN/integrations/P7GHSB5"
            },
            "privilege": null
          }
        }
      ]
    },
    "id": "c8648983-a005-3980-94c7-9e3f4b12db08",
    "meta_features": []
  }
